@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root{
    --blue: #106EBE;
    --mint: #0FFCBE;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

html, body{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
}


/* nav section */
.container{
    max-width: 1300px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

header{
    background-color: var(--blue);
   
}

hr{
    border: 0.1px solid white;
   opacity: 0.5;
}

.nav-logo img{
    height: 10rem;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10rem;
    
}

nav ul{
    display: flex;
    gap: 2rem;
}

nav ul li{
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--mint);
    border-bottom: 2px solid transparent;
}

nav ul li:hover{
    border-bottom: 2px solid white;
}
/* hero section */
#hero{
    background-color: var(--blue);
    padding: 4rem 0;
    border-bottom: 2px solid var(--mint);
}

#hero .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero-content{
    display: grid;
    place-items: center;
}

#hero h1{
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

.hi-text{
    font-size: 6rem;
    font-weight: bold;
    color: var(--mint);
}

.name-text{
    font-size: 5rem;
    color: var(--mint);
    font-weight: 500;
}

#hero h2{
    font-size: 5.1rem;
    font-weight: 500;
    color: white;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid var(--mint); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--mint) }
  }

/* project section */
#project{
    background-color: var(--blue);
    padding-bottom: 3rem;
}

#project h2{
    font-size: 5rem;
    text-align: center;
    padding: 2rem 0;
    color: white;
}

.project-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
}

.grid-item{
    display: grid;
    place-items: center;
}

.card{
    width: 320px;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.card:hover{
    transform: scale(1.07);
    transition: 1s ease-in-out;
}

.card:hover img{
    transform: scale(1.07);
    transition: 0.3s ease-in-out;
    opacity: 0.8;
}

.card:hover .card-content{
    background-color: var(--blue);
    color: var(--mint);
    transform: translateY(0px);
}

.card-content{
    padding: 2.5rem;
    position: relative;
    top: -6.5rem;
    margin-bottom: -6.5rem;
    transition: 0.5s ease-in-out;
    transform: translateY(100px);
}

.card-content h3{
    text-align: center;
}

/* contact section */
#contact{
    background-color: var(--blue);
    border-top: 2px solid var(--mint);
    
}

#contact h2{
    font-size: 5rem;
    text-align: center;
    padding: 2rem 0;
    color: white;
}

.contact-text{
    color: var(--mint);
}

#contact .container{
    height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
}

.top-contact{
    max-width: 800px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    color: var(--mint);
}

.contact-way{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.contact-way i{
    font-size: 3rem;
    color: white;
}

.contact-way h3{
    font-size: 3rem;
    font-weight: bold;
}

.bottom-contact{
    max-width: 800px;
    gap: 2rem;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    color: var(--mint);
}

/* footer section */
footer{
    background-color: var(--blue);
    padding: 2rem;
    color: var(--mint);
    font-size: 1.4rem;
    text-align: center;
    border-top: 0.1px solid white;
}

/* media query */
@media (max-width:1024px){
   
    header{
        padding-right:3rem;
    }

    .hero-img img{
        height: 47rem;
    }

    .project-container{
        margin: 0 1.2rem;
    }


}

@media (max-width:768px){
    /* hearder section */
    html{
        font-size: 40%;
    }

    header{
        padding-right:3rem;
    }
     /* hero section */
    #hero .container{
        flex-direction: column;
        gap: 3rem;
    }

    .hero-img{
        display: grid;
        place-items: center;    
    }
    /* contact section */
    #contact .container{
        height: 70vh;
    }
}

@media (max-width:375px){
    /* header section */
    html{
        font-size: 40%;
    }

    header{
        padding-right: 3rem;
    }

    /* hero section */
    .hero-img img{
        height: 70rem;
    }

    .hi-text{
        font-size: 3rem;
    }

    .name-text{
        font-size: 2.5rem;
    }

    #hero h2{
        font-size: 2.5rem;
    }

    /* contact section */
    #contact .container{
        height: 50vh;
    }
    
    #contact h2{
        font-size: 4rem;
    }

    /* .top-contact{
        max-width: 400px;
    } */

    .contact-way h3{
        font-size: 2.1rem;
    }

    .contact-way i{
        font-size: 2.1rem;
    }
}

@media(max-width:320px){
    .card{
        width: 300px;
    }

    
}